/* général */
body{
    font-family: 'Cabin Sketch', cursive, sans-serif;
}
a{
    text-decoration: none;
    list-style: none;
    color: #000;
}
h1{
    margin-top: 100px;
   font-size: 72px;
}
.centerColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F3E9F1;  
}

 nav{
    margin-right: 50px;
    margin-top: 30px;
    font-size: 20px;
}

 ul {
    display: flex;
}

 li{
    margin-right: 20px;
    list-style: none;
}


/* index html */
.section_presentation{
    display:flex;   
    flex-direction: column;
    align-items: center;
}

.object{
    width: 250px; 
    margin: 100px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-size{
    height: 200px;
    border-radius: 20px;
}

.object img {
    width: 250px;	   	 
} 	
	     
.name{
    font-size: 24px;
}

#articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px;
    border: 5px solid #565C6A;
    box-shadow: 0px -5px 10px #565C6A;
}

#imgdecor img {
    height: auto;
    width: 504px;
    margin-top: 50px;
}

 #img_presentation, .center{
    display:flex;
    justify-content: center;   
}

 #img_presentation img{
    width: 840px;
    height: auto;
    
}
.img-big, #desc{
    width: 760px;
    border-radius: 50px;
}

.img-logo{
    width: 570px;
    height: auto;
}

 
/* panier */
#article{
    margin-top: 100px;
}

.panier{
    margin-top: 40px;
    font-size: 30px;
}
.panier input{
    background-color: #F3E9F1;
   
    border-radius: 25px;
    height: 40px;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    border-style:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #7B1DFD;
}

.fa-cart-plus, .fab, #clear{
    font-size: 30px;
        background: -webkit-gradient(linear, left top, right top, from(#DD770D), to(#7B1DFD));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.imgLogoPanier{
    height: 80px;
    margin-top: 100px;  
}

#nameArticlePanier, #lentilleChoisiPanier, #priceArticlePanier{
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 50px; 
}
.removeLine {    
    width: 50px;
    margin-left: 50px;
    margin-top: 60px;
}

.objectDuPanier {
    border : 1px solid black;
    margin-bottom : 10px;
    width : 800px; 
    display: flex;
}

.objectDuPanier a {
    width: 200px;
    margin-left: 20px;
}

#total{
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
  margin-top: 30px;
  border: 1px solid black;
  width: 720px;
  font-size: x-large;
}

#imageArticlePanier{
    height:100px;
    width: 150px;
    margin: 20px;  
}

.textePanier{
    display: flex;
    border: 1px solid black;
    width: 520px;
    padding-left: 280px;
    margin-bottom: 20px;  
}

.textePanier p{
    margin-right: 110px;
    font-size: 16px;  
    width: 60px;
}

#clear{
    font-size: x-large;
    margin-top: 13px;  
}

#btnCommander {
    margin-top: 40px;  
    background-color: #F3E9F1;
    border-radius: 30px;
    border: none;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: x-large;
    font-family: 'Cabin Sketch', sans-serif;
}

#btnCommander:hover{
    font-size: xx-large;
}

a:hover {
    font-size: x-large;
}

.fab:hover{
    font-size: 40px;
}

#formular{
    margin-top: 30px;
    width: 600px;
    border : 1px solid black;
    display: flex;
    flex-direction: column;
    display:  none;
}

#champs div{
    display: flex; 
    flex-direction: column;
    margin: 20px;
}

#validerFormulaire{
    background-color: #F3E9F1;
    border-bottom: none;
    border-right: none;
    border-left: none;
    height: 40px;
    width: 100%;
    font-size: x-large;
    font-family: 'Cabin Sketch', sans-serif; 
}

#validerFormulaire:hover{
    font-size: xx-large;
}


/* confirmation */
#backgroundCommande{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-image:url('http://localhost:3000/images/vcam_2.jpg');
}

#ticket {
    background-color: #F3E9F1;
    opacity: 0.5;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    font-size: 20px;
}

.recev {
    justify-content: center;
    margin-bottom: 0px;
}
.xl{
    font-size: 40px;
    
}

#message{
    color: #ff0000;
}

#descPanier {
    color: #008000;
    margin-top: 20px;
    
}
/* footer */
footer {
    font-family: sans-serif;
    margin: 100px 0 0 0;
    background-color: #F3E9F1;
}

.mg-footer{
    margin-left: 50px;
    padding-bottom: 50px;
}

.fab{
    font-size: 40px;
    margin:20px
}

/* responsive tablette */
@media all and (min-width: 501px) and (max-width:860px){
    header{
        flex-direction: column;
    }

    .img-big, .img-logo, #desc{
        width: 450px;
        height: auto;
        margin: 0;
        border-radius: 0;
    }

    nav{
        padding-left: 30px;
    }

    h1{
        margin-top: 50px;
       font-size: 40px;
   }
   .textePanier{
    width: 319px;
    padding-left: 0px;
    margin-bottom: 20px; 
    padding-left: 180px ;
    }

    .textePanier p{
        margin-right: 0px;
        margin-left: 20px;
        font-size: large;
    }
    #clear {
        width: 40px;
    }

   .mg-footer{
    margin-left: 10px;
   }
   .object img {
    width: 300px;	   	 
    } 	
    .object{
        height: 150px;
    }
    #articles {
        border: none;
        margin: auto;
    }
    .objectDuPanier {
        border : 1px solid black;
        margin-bottom : 10px;
        width : 499px; 
        display: flex;
    }
   
    #total{
        width: 499px;
        padding:0px;
        justify-content: center;
    }
    .objectDuPanier a {
        margin-left : 0px;
    }

    #price{
        margin-left: 40px;
    }
    #nameArticlePanier, #lentilleChoisiPanier, #priceArticlePanier{
        margin-left: 0px;
        margin-right: 20px;
        font-size: 14px;   
    }

    .removeLine {    
        width: 50px;
        margin-left: 0px;
        margin-top: 60px;
    }
}

/* responsive smartphone */
@media all and (max-width: 500px) {
    header{
        flex-direction: column;
    }

    #imgdecor img {
        display: none;
    }
    .img-big, .img-logo, #desc{
        width: 340px;
        height: auto;
        margin: 0;
        border-radius: 0;
    }

    nav{
        padding-left: 30px;
    }

    h1{
        margin-top: 50px;
       font-size: 32px;
   }
   .mg-footer{
    margin-left: 10px;
   }
   #articles {
       border: none;
       margin: auto;
   }

   .object img {
    width: 300px;	   	 
    } 
    	
    .object{
        height: 150px;
    }

    .objectDuPanier{
        width: 359px;;
    }

    #total{
        width: 359px;
    }

    .textePanier{
        width: 259px;
        padding-left: 100px;
    }

    .textePanier p{
        margin-right: 0px;
        margin-left: 20px;
        font-size: large;
    }

    #nameArticlePanier, #lentilleChoisiPanier, #priceArticlePanier{
        margin-left: 0px;
        margin-right: 10px;
        font-size: 12px;   
    }

    #total{
        width: 359px;
        padding:0px;
        justify-content: center;
        font-size: 20px;
    }
    .objectDuPanier a{
        margin-left: 0;
    }
    #imageArticlePanier {
        width: 100px;
        height: auto;
        margin-left: 5px;
        margin-right: 10px;
    }
    .removeLine{
        margin-left: 0;
        margin-top: 45px;
    }

    #formular{
        width: 359px;
    }

 }
